.homewrapper {
    overflow: auto;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.226);
    height: 100%;
    width: 100%;
    box-shadow: 0px 5px 5px black;
}

.maintitle {
    padding: 30px;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    top: 30%;
}

.maintitle:hover ~ .homewrapper {
    background-color: transparent;
}

.myname {
    font-size: 65px;
    font-weight: 100;
    font-weight: bold;
}

.mydesc {
    font-size: 35px;
    font-weight: 100;
}

.nav {
    text-align: center;
    margin-top: 20px;
    position: absolute;
    width: 100%;
}

.navbtn {
    text-align: center;
    font-size: 2.5rem;
    margin: 50px;
    color: white;
    background-color: transparent;
    padding: 14px;
    transition: 1.0s;
    min-width: 125px;
    font-family: 'Times New Roman', Times, serif;
}

.navbtn:hover {
    border-color: lightblue;
    text-decoration: none;
    color: lightblue;
}

.home {
    background-image: url("../images/LAbackground.jpg");
    background-size: auto 100vh;
    background-position: center;
    background-repeat: repeat;
    height: max-content;
    position: absolute;
    height: 100%;
    width: 100%;
}

@media only screen and (min-width: 1555px) {
    .home {
        background-size: 100% auto
    }
}

.homebio {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    color: white;
    position: relative;
    font-size: 25px;
    top: 40%;
    font-family: 'Times New Roman', Times, serif
}

html {

    background-size: contain;
    background-color: rgba(0, 0, 0, 0.822)
}

.about {
    height: 1000px;
    position: absolute;
    width: 100%;
}

.abouttitle {
    color: white;
    border-color: white;
    border-style: double;
    border-width: 0 0 4px 0;
    padding: 10px 20px;
    width: 90%;
    margin-left: 5%;
    top: 10%;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
}

.abtsection {
    background-color: gray;
    position: relative;
    top: 15%;
    width: 80%;
    margin-left: 10%;
    border-radius: 16px;
    box-shadow: 0px 5px 10px black;
}

.profpic {
    height: 200px;
    margin: 25px;
    border-radius: 50%;
}