.homewrapper {
    overflow: auto;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.226);
    height: 100%;
    width: 100%;
    box-shadow: 0px 5px 5px black;
}

.maintitle {
    padding: 30px;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    top: 15%;
}

p, li {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.myname {
    font-size: 75px;
    font-weight: 100;
    font-weight: bold;
}

.mydesc {
    font-size: 40px;
    font-weight: 100;
}

.nav {
    text-align: center;
    top: 5%;
    position: relative;
    width: 100%;
}

.navbtn {
    text-align: center;
    font-size: 3.0rem;
    margin: 50px;
    color: white;
    background-color: rgba(255, 255, 255, 0.171);
    border-width: 0px;
    padding: 25px 50px;
    transition: 0.5s;
    min-width: 190px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', serif;
    border-radius: 8px;
}

.navbtn:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.575);
    background-color: rgba(255, 255, 255, 0.561);
}

.home {
    background-image: url("../images/LAbackground.jpg");
    background-size: auto 100vh;
    background-position: center;
    background-repeat: repeat;
    height: max-content;
    position: absolute;
    height: 100%;
    width: 100%;
}

@media only screen and (min-width: 1555px) {
    .home {
        background-size: 100% auto
    }
}
@media only screen and (max-width: 880px) {
    .maintitle {
        top: 15%;
    }
    .homebio {
        margin-bottom: 50px;
    }
}


.homebio {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    color: white;
    position: relative;
    font-size: 30px;
    top: 30%;
    font-family: 'Times New Roman', Times, serif
}

html {

    background-size: contain;
    /* background-color: rgba(0, 0, 0, 0.822) */
}

.about, .contact {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.822);
    display: block;
    padding-top: 5%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.589);
}

.about:after {
    content: "";
    display: table;
    clear: both;
}

.abouttitle, .contacttitle {
    color: white;
    border-color: white;
    border-style: double;
    border-width: 0 0 4px 0;
    margin: 0px auto 10% 5%;
    padding: 10px 20px;
    width: 90%;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
}

.aboutsection {
    background-color: gray;
    position: relative;
    top: 15%; 
    margin: 0% auto 15%;
    border-radius: 16px;
    box-shadow: 0px 5px 10px black;
    overflow: auto;
    max-width: 80%;
}


.profpic {
    height: 200px;
    margin: 25px;
    border-radius: 50%;
    float: left;
    position: relative;
}

.abouttext {
    margin: 30px;
    padding-right: 30px;
    font-size: 30px;
}

.portfolio {
    color: white;
    background-image: url("../images/palmbackground.jpg");
    background-size: auto 100vh;
    background-position: center;
    background-repeat: repeat;
    height: max-content;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: -1;
}

.portfoliotitle {
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    padding-top: 5%;
    padding-bottom: 1%;
    border-style: double;
    border-color: black;
    border-width: 0 0 5px 0;
    width: 40%;
    display: relative;
    margin: auto 30% 5%;
}

@media only screen and (min-width: 1395px) {
    .portfolio {
        background-size: 100% auto
    }
}

.example {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.171);
    border-color: black;
    border-width: 4px;
    border-style: solid;
    margin: 20px auto;
}

.exrow {

}

